<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.yumutech.unity">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_TING_MP3" />
    <uses-permission android:name="android.permission.WRITE_TING_MP3" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".CommunicationActivity" />
        <activity android:name=".TaShanZhiShiActivity" />
        <activity android:name=".TaShanDetailActivity" />
        <activity
            android:name=".TaShanCommentsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ReplyToCommentActivity" />
        <activity android:name=".AfterLoginActivity" />
        <activity android:name=".LeaderActivitysActivity" />
        <activity android:name=".LeadersDetaislActivity" />
        <activity android:name=".PolicyFileActivity" />
        <activity android:name=".PolyDetasActivity" />
        <activity android:name=".WorkDongTaiActivity" />
        <activity android:name=".ProjectMangerActivity" />
        <activity android:name=".FriendsUrlActivity" />
        <activity android:name=".FriendDetasActivity" />
        <activity android:name=".LogoActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name=".RegistActivity" />
        <activity android:name=".HuDongJIaoLIuActivity" />
        <activity android:name=".MailListActivity" />
        <activity android:name=".InspectionTaskActivity" />
        <activity android:name=".ReleaseTaskActivity" />
        <activity android:name=".TaskToWhoActivity" />
        <activity android:name=".TaskEndDateActivity" />
        <activity android:name=".ShowTaskDetailActivity" />
        <activity android:name=".LookResultActivity"/>
        <activity android:name=".TaskToWhoNewActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".DatePickActivity"
            android:theme="@style/MyDialogStyleBottom" />
        <!-- 会话页面 -->
        <activity
            android:name=".ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cn.yumutech.unity"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 会话列表 -->
        <activity
            android:name=".ConversationListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cn.yumutech.unity"
                    android:path="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>
        <!-- 聚合会话列表 -->
        <activity
            android:name=".SubConversationListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cn.yumutech.unity"
                    android:path="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".QunMenmberSelectorActivity" />
        <activity android:name=".CreateQunZhuActivity" />
        <activity android:name=".BianJiActivity" />

        <!-- 友盟推送集成 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="582e64a5310c9328970004a7" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="ce2cfa5eb18e5c5672aeea37b6c1e474" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="CHENGZI" />

        <activity
            android:name=".CompleteActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".SelectorJoinActivity"></activity>
        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc" />
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />

        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

    </application>

</manifest>